*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: sans-serif;
    --color: #0747a6;
}

#wrapper{ /*добавлено чтобы отправить футтер в конец страницы, а контекст сам расширялся)*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header{
    background: var(--color);
    /* height: 200px; */
    padding: 20px;
    color: white;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    text-transform: uppercase; /*выводим большими буквами*/
    /* writing-mode: vertical-lr;
    text-orientation: upright;
    background: #7e7e7e;
    position: fixed;
    padding: 30px 0;
    height: 600px;
    z-index: 5; */
    font-size: 48px;
    border-radius: 5px;
    line-height: 100px;
    
}
#menu, #pagination{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex: 0 0 60px;
    background: white;
}
#pagination{
    gap: 10px;
}
#content{
    margin: 0 auto;
    padding-bottom: 30px;
    flex: 1;
}
#footer{
    background: var(--color);
    padding: 20px;
    flex: 0 0 auto;
    color:white;
    text-align: center;
}

.link{
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background: #F4F4F4;
    color: #7e7e7e;
    font: inherit;
    border: none;
}
.link:hover{
    color: black;
}
.link_active{
    background: var(--color);
    color: white;
}
.link_active:hover{
    opacity: 0.9;
    color: white
}
.header__user-block{
    position: relative;
    max-width: 800px;
}
.header__user-block .error_message{
    position: absolute;
}
.header__form{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}
.header__form > .form__input{
    margin-bottom: 0;
}
.form__input{
    display: block;
    flex: 1 1 150px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-bottom: 10px;
    gap: 10px;
    
}
.form__input input{
    display: block;
    height: 100%;
}

.button{
    display: block;
    border: none;
    appearance: none;
    padding: 10px 20px ;
    border-radius: 5px;
    color: black;
    font-family: inherit;
    border: 1px solid transparent;
    width: 100%;
}
.button:hover{
    background-color: var(--color);
    color: white;
    border-color: currentColor;

}
.error_message{
    font-size: 14px;
    margin: 5px 0;
    color: red;
}

thead th{
    text-align: left;
    position: sticky;
    top: 0;
    background: white;
    opacity: 0.5;
}
td, th{
    padding: 15px;
}
td:first-of-type{
    text-align: right;
}

